.click_link{
    width: auto;
    height:auto;
    cursor: pointer;
}
.rock {
    position: relative;
    overflow: hidden;
    display: inline-block;
    /* You may add other styles as needed */
  }
  
.rock img {
    transition: opacity 0.3s ease-in-out;
  }
  
.rock:hover img {
    opacity: 0.5;
     /* Adjust the opacity value as needed */
  }
.rock:hover {
    background-color: red;
    transition: 2s; /* Change to the desired color */
}